[submodule "plugins/aceadminpanel"]
	path = plugins/aceadminpanel
	url = https://github.com/ImaginariaLS/ls_aceAdminPanel.git
[submodule "plugins/attachments"]
	path = plugins/attachments
	url = https://github.com/ImaginariaLS/ls_attachments.git
[submodule "plugins/atuser"]
	path = plugins/atuser
	url = https://github.com/ImaginariaLS/ls_atuser.git
[submodule "plugins/autocut"]
	path = plugins/autocut
	url = https://github.com/ImaginariaLS/ls_autocut.git
[submodule "plugins/blacklist"]
	path = plugins/blacklist
	url = https://github.com/ImaginariaLS/ls_blacklist.git
[submodule "plugins/bspoiler"]
	path = plugins/bspoiler
	url = https://github.com/ImaginariaLS/ls_bspoiler.git
[submodule "plugins/changemail"]
	path = plugins/changemail
	url = https://github.com/ImaginariaLS/ls_change_email.git
[submodule "plugins/configengine"]
	path = plugins/configengine
	url = https://github.com/ImaginariaLS/ls_configengine.git
[submodule "plugins/delayedpost"]
	path = plugins/delayedpost
	url = https://github.com/ImaginariaLS/ls_delayedpost.git
[submodule "plugins/editcomment"]
	path = plugins/editcomment
	url = https://github.com/ImaginariaLS/ls_editcomment.git
[submodule "plugins/expwall"]
	path = plugins/expwall
	url = https://github.com/ImaginariaLS/ls_expwall.git
[submodule "plugins/extendedimage"]
	path = plugins/extendedimage
	url = https://github.com/ImaginariaLS/ls_extendedimage.git
[submodule "plugins/fontsize"]
	path = plugins/fontsize
	url = https://github.com/ImaginariaLS/ls_fontsize.git
[submodule "plugins/greeting"]
	path = plugins/greeting
	url = https://github.com/ImaginariaLS/ls_greeting.git
[submodule "plugins/httpsdetect"]
	path = plugins/httpsdetect
	url = https://github.com/ImaginariaLS/ls_httpsdetect.git
[submodule "plugins/mobiletpl"]
	path = plugins/mobiletpl
	url = https://github.com/ImaginariaLS/ls_mobiletpl.git
[submodule "plugins/newwebcode"]
	path = plugins/newwebcode
	url = https://github.com/ImaginariaLS/ls_newwebcode.git
[submodule "plugins/niceurl"]
	path = plugins/niceurl
	url = https://github.com/ImaginariaLS/ls_niceurl.git
[submodule "plugins/onlyupvote"]
	path = plugins/onlyupvote
	url = https://github.com/ImaginariaLS/ls_onlyupvote.git
[submodule "plugins/page"]
	path = plugins/page
	url = https://github.com/ImaginariaLS/ls_page.git
[submodule "plugins/recaptcha"]
	path = plugins/recaptcha
	url = https://github.com/ImaginariaLS/ls_reCaptchaV2.git
[submodule "plugins/rememberme"]
	path = plugins/rememberme
	url = https://github.com/ImaginariaLS/ls_rememberme.git
[submodule "plugins/shistory"]
	path = plugins/shistory
	url = https://github.com/ImaginariaLS/ls_shistory.git
[submodule "plugins/showhidesidebar"]
	path = plugins/showhidesidebar
	url = https://github.com/ImaginariaLS/ls_showhidesidebar.git
[submodule "plugins/simplerating"]
	path = plugins/simplerating
	url = https://github.com/ImaginariaLS/ls_simplerating.git
[submodule "plugins/simplesearch"]
	path = plugins/simplesearch
	url = https://github.com/ImaginariaLS/ls_simplesearch.git
[submodule "plugins/showvotes"]
	path = plugins/showvotes
	url = https://github.com/ImaginariaLS/ls_showvotes.git
[submodule "plugins/sktc"]
	path = plugins/sktc
	url = https://github.com/ImaginariaLS/ls_sktc.git
[submodule "plugins/skubs"]
	path = plugins/skubs
	url = https://github.com/ImaginariaLS/ls_skubs.git
[submodule "plugins/tagslikefull"]
	path = plugins/tagslikefull
	url = https://github.com/ImaginariaLS/ls_tagslikefull.git
[submodule "plugins/urlredirect"]
	path = plugins/urlredirect
	url = https://github.com/ImaginariaLS/ls_urlredirect.git
[submodule "plugins/username"]
	path = plugins/username
	url = https://github.com/ImaginariaLS/ls_username.git
[submodule "plugins/userstatus"]
	path = plugins/userstatus
	url = https://github.com/ImaginariaLS/ls_userstatus.git
