.ignore-profile-whois {
    font-size: 16px;
    color: #eee;
}

#ignore_setting_form { 
    width: 500px; 
    margin-left: -250px; 
    text-align: left;
	padding:10px; 
}

.comment li a.ignore-link-reply	{ color: #727a90; text-decoration: line-through; border-bottom: 1px dotted #727a90; }

.ignore-comment-user { color: #999; }