<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Delayed post</lang>
	</name>
	<author>
		<lang name="default">Rafrica.net Studio</lang>
	</author>
	<homepage>http://we.rafrica.net</homepage>
	<version>1.4.4</version>
	<requires>
		<livestreet>1.0</livestreet>
	</requires>
	<description>
		<lang name="russian">Позволяет откладывать публикацию топика как в Wordpress.</lang>
		<lang name="default">Allows you to delay topic publication.</lang>
	</description>
</plugin>
