<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">AutoOpenID</lang>
	</name>
	<author>
		<lang name="default">LS-SOFT</lang>
	</author>
	<homepage>http://livestreet.ru</homepage>
	<settings>{login}autoopenid/migration/</settings>
	<version>2.2.3</version>
	<requires>
		<livestreet>1.0.3</livestreet>
	</requires>
	<description>
		<lang name="default">Support OAuth Registration</lang>
		<lang name="ru">Поддержка OAuth авторизации/регистрации</lang>
	</description>
</plugin>